<tr>
  <td><%= question.votes.count %> Votes</td>
  <td><%= question.comments.count %> Comments</td>
  <td><%= link_to "#{question.title}", question_path(question.id) %></td>
  <td><%= question.created_at %></td>
  <td>User <%= question.user_id %></td>
</tr>
