<!-- TODO: Display individual question. -->
<div class="container">
  <div class="edit">
    <!-- TODO: Add "if current user" edit and delete -->
    <%= link_to "Edit", edit_question_path(@question.id)%>
  </div>
  <div class="joke">
    <h2><%=@question.title%></h2>
    <p><%=@question.content%></p>
  </div>


  <!-- TODO: Make these into render partial -->
  <div class="comment-new">
    <!-- Locals' symbols can be named anything since we will be using it like a variable in the linked comment. We should distinguish the different variables once everything ties into each other (ie. votes_id/type, answers_id/type, questions_id/type) -->
    <%= link_to "new answer", new_answer_path, locals: {question_id: @question.id, question_type: "Question"} %>
  </div>
  <div class="comment-show">
    <%= link_to "show answer", answer_path(@question.id), locals: {question_id: @question.id, question_type: "Question"} %>
  </div>
</div>
