<h4>Edit User Information</h4>

<%= form_for @user do |user| %>
  <%= user.text_field :name %>
  <%= user.text_field :email %>
  <%= user.password_field :password %>
  <%= user.submit "Update Account" %>
<% end %>
